ACTION=="add|change", SUBSYSTEM=="hwmon", ATTRS{name}=="hp", GROUP="hpfan", MODE="0664"

ACTION=="add|change", SUBSYSTEM=="hwmon", KERNEL=="hwmon*", ATTRS{name}=="hp", RUN+="/bin/sh -c 'chmod 664 /sys/class/hwmon/%k/pwm* && chgrp hpfan /sys/class/hwmon/%k/pwm*'"
